@font-face {
 
  src: url("../fonts/yosef.ttf");
    font-family:my;
}
@font-face {
 
  src: url("../fonts/yosefen.ttf");
    font-family:myy;
}
body
{
padding: 0px;
    margin: 0px;
  background-image: url("../image/elec_devies.jpg");
  
    background-size: cover;
    background-repeat: no-repeat;

}
.continar
{

margin: auto;
    width: 100%;     
}
header
{
     width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  background-color: #122034;
    opacity: 0.6; 
    transform: translate(0,0%);
    position: fixed;
    left: 0;
    right: 0;
      padding: 10px;
    color:white;
    border-radius: 10%; 
    border-collapse: collapse;
}
header button
{
    position: absolute;
    top: 20px;
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 20px;
    border: 1px solid #969090;
    margin: 0 8px;
    border-radius: 10px;
     color: #FFF;    
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
         transition: all .5s ease-in-out;
}
header  button:hover{
    background-color:red;
    border: 1px solid white;
    color: #FFF;
}
header  h2
{
    text-align: center;
     font-weight: lighter;
font-family:myy;
    padding: 6px;
    font-size: 30px;
opacity: 1;
    margin: 0px;
    transition: all .2s ;
     
}
header  h2:hover
{
    color: aqua;
 transition: all .2s ease-in-out;
    transform: scale(1.2,1.2);
    font-weight: lighter;
}
.mnue ul li
{
    background-attachment: fixed;
    position:relative;
    list-style: none;
      box-shadow: 1px 3px 1px  hsl(0, 0%, 90%);
    float: right;
     padding: 13px;
     border: 2px solid #122034 ;
     border-radius: 20%;
     margin: 6px;
    transition: all .2s ease-in-out;
}
.mnue
{
    border-collapse: collapse;
   box-shadow: 10px 10px 44px 1px black; box-shadow: 10px 10px 44px 1px black;
    border-radius: 10%;
    background-color: #122034;
    opacity: 0.9;
    padding: 20px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 }
.mnue ul li 
{
    color: blue;
}
.mnue ul li:hover
{
    transform: scale(1.1,1.1);
}
footer 
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  text-align: center;
  background-color: #122034;
    opacity: 0.6; 
    transform: translate(0,0%);
    border-bottom-left-radius:10%;
     border-bottom-right-radius: 10%;
}
footer p
{
     font-family:my;
    font-size: 18px;
    color: white;
}

 .continar .namedev{

  color:#fff;
  font-size: 25px;
  font-weight: 500;
}

.continar span{
  color:#fff;
  font-size: 25px;
  font-weight: 500;

}
